/* example */

#container {
	font-family: Tienne, Sans-Serif;
	margin: 10% auto 0px auto;
	width: 725px;
}

/* customize */

div.poppy_pagination.options {
	border-bottom: 1px solid #DDDDDD;
	border-top: 1px solid #DDDDDD;
	color: #999999;
	font-size: 14px;
	height: 19px;
	padding: 5px 0px 5px 0px;
	width: 100%;
}

div.poppy_pagination.options span {
	margin-left: 10px;
}

div.poppy_pagination.options span strong {
	color: #787878;
}

div.poppy_pagination.options form select {
	font-size: 12px;
}

ul.poppy_pagination.pages li {
	font-size: 14px;
	padding: 4px 0px 4px 0px;
}

ul.poppy_pagination.pages li a {
	text-decoration: none;
}

ul.poppy_pagination.pages li.crumbs {
	width: 500px;
}

ul.poppy_pagination.pages li.crumbs a,
ul.poppy_pagination.pages li.crumbs span {
	border: 1px solid #CCCCCC;
}

ul.poppy_pagination.pages li.crumbs span {
	background-color: #EEEEEE;
	color: #787878;
	font-weight: bold;
}

ul.poppy_pagination.pages li.last,
ul.poppy_pagination.pages li.next {
	width: 100px;
}

ul.poppy_pagination.pages li.last span,
ul.poppy_pagination.pages li.next span {
	color: #DDDDDD;
}

/* Tidy-Table overrides */

div.poppy_pagination.options,
ul.poppy_pagination.pages,
div.results {
	clear: both;
	margin: 0px 20px 0px 20px;
	width: 100%;
}

div.poppy_pagination.options {
	margin: 20px;
}

table.tidy_table {
	margin: 0px auto 0px auto;
	width: 100%;
}
